<header class="am-topbar">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="/" class="am-text-ir">SISUWare</a>
        </h1>
        <div class="am-topbar-right" style="float: right;">
            <notempty name="name">
                <a class="login" href='<{:U('logout')}>'>Login</a></li>
                <else />
                <a class="login" href='<{:U('loginCAS')}>'>Login</a></li>
            </notempty>
        </div>
    </div>
</header>
