<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href="__CSS__/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.0.0" rel="stylesheet">

    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/bootstrap.min.js?v=3.3.5"></script>
    <script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
    <script src="__JS__/hplus.min.js?v=4.0.0"></script>
    <script type="text/javascript" src="__JS__/contabs.min.js"></script>
    <script src="__JS__/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery.form.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRxight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑网站设置</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" id='form_product' action="__APP__/Admin/saveSetting" class="form-horizontal">
                        <foreach name='setting' item='vo'>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"><{$vo['alias']}></label>
                            <div class="col-sm-5">
                                <input type="text" name='<{$vo['key']}>' id='name' class="form-control" value="<{$vo['value']}>">
                            </div>
                        </div>
                        </foreach>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-1">
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>