<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>案例列表</title>

    <link href="__PUBLIC__/adminui/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/adminui/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/adminui/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/adminui/css/style.min.css?v=4.0.0" rel="stylesheet">

	<script src="__PUBLIC__/adminui/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/adminui/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/adminui/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__PUBLIC__/adminui/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__PUBLIC__/adminui/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/adminui/js/hplus.min.js?v=4.0.0"></script>
    <script type="text/javascript" src="__PUBLIC__/adminui/js/contabs.min.js"></script>
    <script src="__PUBLIC__/adminui/js/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/adminui/js/jquery.form.js"></script>

</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRxight">
        
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加案例</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 上传产品信息表单 -->
                        <form method="post" id='form_case' action="__APP__/Admin/AddCase" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">案例名称:</label>
                                <div class="col-sm-10">
                                    <input type="text" name='name' id='case_name' class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">详细介绍:</label>
                                <div class="col-sm-10">
                                    <textarea name="content" id="case_content" class="form-control" cols="30" rows="10"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" onclick="up_case()">添加案例</button>
                                </div>
                            </div>
                            
                            <button type="reset" id='btn_reset1' style="display:none"></button>
                        </form>
                        

                    </div>
                </div>
            </div>

        </div>
    </div>


<script>
    function up_case(){
        if ($.trim($('#case_name').val())=='' || $.trim($('#case_content').val())=='') {
            alert("请填全案例信息！");
            return;
        }


        $("#form_case").ajaxSubmit(function(message) { 
            console.log(message);
            if(message=='y'){
                alert('添加成功！');
                $('#btn_reset1').click();
                $('#btn_reset2').click();
                $("#preview_img").hide();
                return;
            }else{
                alert('添加失败！');
                return;
            }


        }); 
    }
</script>
    <!-- <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script> -->
</body>
</html>